<!DOCTYPE html>
<!--thymeleaf模板支持-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.min.js" integrity="sha512-SdWDXwOhhVS/wWMRlwz3wZu3O5e4lm2/vKK3oD0E5slvGFg/swCYyZmts7+6si8WeJYIUsTrT3KZWWCknSopjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div>
   <!-- 显示由控制器传递过来的实体user的值-->
    <h2>學生會員清單</h2>

    <ul th:each="student: ${user}">

        <li>
            <span>姓名:</span>
            <span th:text="${student.name}"></span>
        </li>
        <li>
            <span>電子郵件:</span>
            <span th:text="${student.email}"></span>
        </li>
        <li>
            <span>年齡:</span>
            <span th:text="${student.age}"></span>
        </li>
    </ul>
    <button><a href="/api/v1/student/add">新增學生會員</a></button>

</div>
<script>
</script>
<style>
    a{text-decoration: none;}
 </style>
 </body>
</html>