<!DOCTYPE html>
<!--thymeleaf模板支持-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.2.1/jquery.serializejson.min.js" integrity="sha512-SdWDXwOhhVS/wWMRlwz3wZu3O5e4lm2/vKK3oD0E5slvGFg/swCYyZmts7+6si8WeJYIUsTrT3KZWWCknSopjg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div>
   <!-- 显示由控制器传递过来的实体user的值-->
    <h2>更新學生會員資訊</h2>
    <form id="form1" th:object="${student}">
        <label for="name">姓名:</label>
        <input id="name" name="name" type="text" th:field="*{name}"/>
        <label for="email">電子郵件:</label>
        <input readonly="readonly" id="email" name="email" type="text" th:field="*{email}"/>
        <label for="age">年齡:</label>
        <input id="age" name="age" type="text" th:field="*{age}"/>
    </form>
        <button th:onclick="update([[${student.email}]])" >提交</button>
        <button><a href="http://localhost:8080/api/v1/student/add">返回</a></button>

</div>
<script>
    function update(){
        var datas = $("#form1").serializeJSON();

        fetch('/api/v1/student/updateStudent', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(datas),
            }).then(function(response) {
                console.log('請求更新成功')
                alert("更新成功!!")
        })
        //location.reload();
        //window.location.assign("http://localhost:8080/api/v1/student/add");

    }
</script>
 </body>
 <style>
    a{text-decoration: none;}
 </style>
</html>